.grid-gallery {
  display: grid;
  grid-template-columns: 0.5fr  2fr 0.5fr 1fr ;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}



.grid-gallery_item {
  height: 400px !important;
 position: relative;
 cursor: pointer;

}

.grid-gallery_item img {
 width: 100%;
 height: 100% ;
 object-fit: cover;
}

.gallery-actions {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap;
  gap:20px;
  padding:15px;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  opacity: 0;
  transition:all 0.5s ease ;
  z-index: 99;
  backdrop-filter:blur(3px);
}

.gallery-actions button {
  width:40px !important;
  height:40px !important; 
  display:flex;
  align-items: center;
  justify-content: center;
  border:none;
  outline:none;
  background: rgba(0, 0, 0, 0.5);
}

.gallery-actions:hover  {
  opacity: 1 !important;
} 