@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);


.hero {
  margin:100px 0px;

}

.hero_right {
  /* width: 500px; */
  /* height: 500px; */
}

.hero_right img  {
object-fit:cover;
width: 100%;
height: 100%;
/* border-radius: 50%; */
}
.hero_left {
  padding: 0px;
}
.hero_left_inputs {
  display:flex;
  flex-direction: column;
}

.hero_left_inputs textarea:first-of-type {
  font-size: 3.5rem;
  padding:0px;
  border:none;
  outline:none;
  background:none;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  resize: none;
  height: fit-content;
  line-height:60px;

}
.hero_left_inputs textarea:last-of-type:active,
.hero_left_inputs textarea:last-of-type:focus,
.hero_left_inputs textarea:first-of-type:focus,
.hero_left_inputs textarea:first-of-type:active {
  border:none;
  outline:none;
  background:none;
  resize: none;
}

.hero_left_inputs textarea:last-of-type {
  border:none;
  outline:none;
  background:none;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  resize: none;
  height: fit-content;
}



.hero_bottom input {
  border:1px solid #1394DD;
  outline:none;
  background:none;
  margin-left:15px;
  padding:10px;
}

@media (max-width:1024px), (max-width:1400px), (max-width:1666px) {
  .hero_left_inputs textarea:first-of-type {
    font-size: 2rem;
  }

  .hero_left_inputs textarea:last-of-type {
    font-size: 1.5rem;
  }
}


@media (max-width:420px){
  .hero_left_inputs textarea:first-of-type {
    font-size: 1.5rem;
  }

  .hero_left_inputs textarea:last-of-type {
    font-size: 1rem;
  }
}